<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/produits">Produits</a>
  </li>
  <li class="breadcrumb-item active">Nouveau produits</li>
</ol>
<div class="page-title">
  <h3>Gestion du stock</h3>
</div>
<div class="navigation-tabs">
  <ul class="nav nav-tabs">
    <li routerLink="/produits" role="presentation" [routerLinkActive]="['is-active']">
      <a href="#" aria-controls="home" role="tab" data-toggle="tab">Liste des produits</a>
    </li>
    <li routerLink="/produits/add" role="presentation" [routerLinkActive]="['is-active']">
      <a href="#" aria-controls="profile" role="tab" data-toggle="tab">Nouveau Produit</a>
    </li>
  </ul>
</div>
<!-- Area Chart Example-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Produits
  </div>

  <div class="card-body">
    <form [formGroup]="produitService.form" (submit)="save()">
      <div class="row">
        <div class="col-md-3">
          <label>Photo</label>
          <br>
          <img [src]="imageUrl" class="img-thumbnail mb-2">
          <input [(ngModel)]="imageUrl" type="text" formControlName="image" name="image" class="form-control" placeholder="Photo URL">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" formControlName="nom" name="nom" class="form-control" placeholder="Nom">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>nomCourt</label>
                <input type="text" formControlName="nomCourt" name="nomCourt" class="form-control" placeholder="Nom">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>prixBase</label>
                <input type="text" formControlName="prixBase" name="prixBase" class="form-control" placeholder="prixBase">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>prixVente</label>
                <input type="text" formControlName="prixVente" name="prixVente" class="form-control" placeholder="prixVente">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>maxRemise</label>
                <input type="text" formControlName="maxRemise" name="maxRemise" class="form-control" placeholder="maxRemise">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>unite</label>
                <input type="text" formControlName="unite" name="unite" class="form-control" placeholder="unite">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>qteInitial</label>
                <input type="text" formControlName="qteInitial" name="qteInitial" class="form-control" placeholder="qteInitial">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>qteActuel</label>
                <input type="text" formControlName="qteActuel" name="qteActuel" class="form-control" placeholder="qteActuel">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
