<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">My Dashboard</li>
</ol>
<!-- Area Chart Example-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Fournisseur
  </div>
  <div class="card-body">
    <form [formGroup]="fournisseurService.form" (submit)="save()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nom</label>
            <input type="text" formControlName="nom" name="nom" class="form-control" placeholder="Nom">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>nomCourt</label>
            <input type="text" formControlName="nomCourt" name="nomCourt" class="form-control" placeholder="Nom Court">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tel</label>
            <input type="text" formControlName="telMobile" name="telMobile" class="form-control" placeholder="Tel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" name="email" class="form-control" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Fix</label>
            <input type="text" formControlName="telFix" name="telFix" class="form-control" placeholder="Fix">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Fax</label>
            <input type="text" formControlName="telFax" name="telFax" class="form-control" placeholder="Fax">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Ville</label>
        <input type="text" formControlName="ville" name="ville" class="form-control" placeholder="Ville">
      </div>
      <div class="form-group">
        <label>Adresse</label>
        <textarea  formControlName="adresse" name="adresse" cols="30" rows="5" class="form-control" placeholder="Adresse"></textarea>
      </div>
      <button type="button" (click)="save()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
