<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/fournisseurs">Fournisseur</a>
  </li>
  <li class="breadcrumb-item active">Liste des fournisseurs</li>
</ol>
<div class="page-title">
  <h3>Dossier Fournisseur</h3>
</div>
<div class="navigation-tabs">
  <ul class="nav nav-tabs">
    <li routerLink="/fournisseurs" role="presentation" [routerLinkActive]="['is-active']">
      <a href="#" aria-controls="home" role="tab" data-toggle="tab">Liste des fournisseurs</a>
    </li>
    <li routerLink="/fournisseurs/add" role="presentation" [routerLinkActive]="['is-active']">
      <a href="#" aria-controls="profile" role="tab" data-toggle="tab">Nouveau Fournisseur</a>
    </li>
  </ul>
</div>
<!-- Area Chart Example-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Fournisseurs
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Nom Court</th>
        <th>Ville</th>
        <th>Adresse</th>
        <th>Fix</th>
        <th>Mobile</th>
        <th>Fax</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let fournisseur of fournisseurs">
        <td>{{ fournisseur.id }}</td>
        <td>{{ fournisseur.nom }}</td>
        <td>{{ fournisseur.nomCourt }}</td>
        <td>{{ fournisseur.ville }}</td>
        <td>{{ fournisseur.adresse }}</td>
        <td>{{ fournisseur.telFix }}</td>
        <td>{{ fournisseur.telMobile }}</td>
        <td>{{ fournisseur.telFax }}</td>
        <td>{{ fournisseur.email }}</td>
        <td>
          <button (click)="edit(fournisseur)" type="button" class="btn btn-success">
            <i class="fa fa-pencil"></i>
          </button>
          <button (click)="delete(fournisseur)" type="button" class="btn btn-danger ml-2">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
